/* card  */
.card {
	margin-top: 24px;
	display: flex;
}
.card__left {

}
.card__right {
	padding-left: 36px;
	padding-top: 24px;
	width: 100%;
}

.card-slider {
	position: relative;
}
.card-slider__previews {
	position: absolute;
	top: 26px;
	left: 24px;
}
.card-slider__img {
	position: relative;
	display: block;
	text-decoration: none;
	margin-top: 7px;
}

.card-slider__img::after {
	content: '';
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: #fff;
	opacity: 0.3;
	display: block;
	position: absolute;
}

.card-slider__img:first-child {
	margin-top: 0px;	
}

.card-slider__img.card-slider__img_active::after {
	display: none;
}

.card-slider__img:hover::after {
	display: none;
}

.card-info {

}
.card-info__name {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
}
.card-info__art {
	margin-top: 8px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;

	display: flex;
	align-items: center;
	letter-spacing: 0.04em;

	color: #828282;
}

.card-reviews {

	margin-top: 18px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */
	letter-spacing: 0.04em;
	color: #333333;

	display: flex;
	align-items:  center;
}
.card-reviews__label {
	margin-right: 15px;
}
.card-reviews__link {
	margin-left: 5px;
	text-decoration: none;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.04em;
	color: #333333;
}

.card-reviews__link::after {
	content: '';
	background: url("../../assets/images/icons/arrow_right.svg");
    width: 11px;
    height: 15px;
	display: inline-block;

    position: relative;
    top: 3px;
    left: 8px;
}

.card-stars {
	display: flex;
}
.card-stars__item {
	margin-left: 2px;
}
.card-stars__item:first-child {
	margin-left: 0px;	
}
.card-stars__item {
	background: url("../../assets/images/icons/star.svg");
	display: block;
	width: 10px;
	height: 10px;
}
.card-stars__item.card-stars__item_active {
	background: url("../../assets/images/icons/star_fill.svg");
}

.card-group.card-group_price {
	margin-top: 51.5px;
}

.card-price {
	
}

.card-price__item {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #333333;
}
.card-price__item.card-price__item_sale {
	margin-top: 12px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.04em;
	text-decoration-line: line-through;
	color: #828282;
	position: relative;
	top: -3px;
}

.card-price__wrap::after {
	content: '';
	background: url("../../assets/images/icons/arrow_right.svg");
    width: 11px;
    height: 15px;
	display: inline-block;

    position: relative;
    top: 0px;
    left: 8px;
}

.card-price__labels {
	margin-top: 8px;
}

.card-price__label {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #333333;

	padding: 4px 8px;
	border: 1px solid #333333;
	box-sizing: border-box;
	margin-left: 10px;
}
.card-price__label:first-child {
	margin-left: 0px;
}


.card-group.card-group_size {
	margin-top: 30px;
}

.card-select {
	position: relative;
	width: 315px;
}

.card-select:hover .card-select__dropdown{
	display: block;
}

.card-select:hover .card-select__label::after {
	transform: rotate(-90deg);
}

.card-select__label {

	position: relative;

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */

	letter-spacing: 0.04em;
	color: #333333;

	border: 1px solid #333333;
	box-sizing: border-box;

	
	height: 44px;
	padding: 12px 16px;
	cursor: pointer;
}

.card-select__label::after {
	content: '';
	background: url("../../assets/images/icons/arrow_right.svg");
    width: 11px;
    height: 15px;
	display: block;
    position: absolute;
    top: 14px;
    right: 14px;
    transform: rotate(90deg);


}

.card-select__dropdown {
	display: none;
	padding-top: 5px;
	position: absolute;
	width: 100%;
	background: #fff;
	z-index: 10;
}
.card-select__options {
	padding: 0px;
	margin: 0px;
	list-style: none;
	border: 1px solid #333333;
}
.card-select__option {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */

	letter-spacing: 0.04em;
	color: #333333;

	padding: 12px 16px;

	border-bottom: 1px solid #333333;
	box-sizing: border-box;
	cursor: pointer;

	text-align: right;
}

.card-select__option:hover {
	background: #f3f3f3;
}

.card-select__option:last-child {
	border-bottom: 0px;
}

.card-info__defsize {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */

	letter-spacing: 0.04em;
	text-decoration-line: underline;

	/* Brand / Black */

	color: #333333;
	margin-top: 10px;
	text-decoration: none;
	display: block;
}

.card-group.card-group_cart {
	margin-top: 40px;
}

.card-count {
	display: flex;
	justify-content: space-between;
	background: #F2F2F2;
	width: 145px;
	max-height: 44px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;

	letter-spacing: 0.04em;
	color: #333333;
	overflow: hidden
}
.card-count__but {
	height: 100%;
	padding: 12px 20px;
	text-align: center;
	cursor: pointer;
}

.card-count__but:hover {
	box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
}


.card-count__number {
	height: 100%;
	padding: 12px 0px;
	text-align: center;
}

.card-info__add {
	height: 44px;
	cursor: pointer;
	border-radius: 0px;

	background: #333333;

	border: 1px solid #333333;
	box-sizing: border-box;

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;

	letter-spacing: 0.04em;

	/* Brand / White */
	color: #FFFFFF;
}

.card-info__add.card-info__add_cart {
	width: 203px;
	margin-left: 12px;
}
.card-info__add.card-info__add_fav {
	width: 44px;
	font-size: 24px;
	padding-top: 6px;
	margin-left: 12px;
}

.card-info__flex {
	display: flex;
}
.card-info__click {
	display: block;
	margin-top: 12px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */

	letter-spacing: 0.04em;
	text-decoration-line: underline;
	color: #333333;

	text-decoration: none;
}

.card-info__line {
	height: 0.5px;
	width: 100%;
	background: #C4C4C4;
	margin-top: 29px;
	margin-bottom: 24px;
}

.card-info__extra {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.card-info__extrali {
	margin-top: 12px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */

	letter-spacing: 0.04em;
	text-decoration-line: underline;

	color: #333333;
	position: relative;

	padding-left: 20px;
}

.card-info__extrali:first-child {
	margin-top: 0px;
}

.card-info__extrali.card-info__extrali_extra_1 i {
	position: absolute;
	left: 0px;
	top: 2px;
}
.card-info__extrali.card-info__extrali_extra_2 i {
	position: absolute;
	left: 0px;
	top: 2px;
}
.card-info__extrali.card-info__extrali_extra_3 i {
	position: absolute;
	left: 1px;
	top: 4px;
}

/* card end  */