.container {
	width: 100%;
	max-width: 1390px;
	margin: 0 auto;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

select, input, a {
	outline: none;
}

body {
	padding-top: 40px;
	position: relative;
}

/* header  */
.header {
	/*width: 100%;*/
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	padding: 6px 0px;

	box-sizing: border-box;

	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 10;

}
.header__container {
	display: flex;
	justify-content: space-between;
}
.header__logo {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 0.04em;
	text-transform: uppercase;

	color: #000000;
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__button {
	margin-left: 12px;
	display: inline-block;
}
.header__button:first-child {
	margin-left: 0px;
}

/* header end  */


/* footer  */
.footer {
	margin-top: 70px;
	padding: 70px 0px;
}
.footer__container {
    display: flex;
    justify-content: space-around;
}

.footer__list {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.footer__list.footer__list_2 {
	margin-left: 225px;
}

.footer__li {
	margin-bottom: 8px;
}
.footer__li.footer__li_title {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */

	letter-spacing: 0.04em;
	text-transform: uppercase;

	/* Brand / Black */

	color: #333333;
	margin-bottom: 16px;
}

.footer__li:last-child {
	margin-bottom: 0px;	
}

.footer__link {
	text-decoration: none;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */

	letter-spacing: 0.04em;

	/* Brand / Black */

	color: #333333;

}

.footer-subscribe {
    margin-top: 20px;
    display: block;
}

.footer-subscribe__group {
	display: block;
	margin-bottom: 35px;
}

.footer-subscribe__group:last-child {
	margin-bottom: 0px;
}

.footer-subscribe__input {
	padding: 12px;
	border: 0px;
	border-bottom: 1px solid #C4C4C4;
	width: 100%;
	box-sizing: border-box;
}

.footer-subscribe__button {
	cursor: pointer;
	width: 150px;
	height: 36px;

	background: #FFFFFF;

	border: 1px solid #333333;
	box-sizing: border-box;

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */

	letter-spacing: 0.04em;

	/* Brand / Black */

	color: #333333;

	display: inline-block;
}
.footer__menu {
	display: flex;
}
.footer__subs {

}

/* footer end  */


.menubutton {
	display: none;
    cursor: pointer;
}

.icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    border-radius: 1px;
    background-color: #333333;
    margin-top: 4px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.icon-bar:first-child {
	margin-top: 0px;
}

.mobail-menu {
	display: none;
	background: #fff;
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 50;
}

.mobail-menu.mobail-menu_active {
	display: block;
}

.mobail-menu__ul {
	padding: 0px;
	margin:  80px 0px 43px 0px;

}
.mobail-menu__li {
	
}

.mobail-menu__link {
	display: inline-block;
	padding: 15px 30px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #333333;
	text-decoration: none;
}

.mobail-menu__close {

}

.mobail-menu__close {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 20px;
	height: 20px;
	opacity: 0.3;
}
.mobail-menu__close:hover {
	opacity: 1;
}
.mobail-menu__close:before, .mobail-menu__close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 20px;
	width: 2px;
	background-color: #333;
}
.mobail-menu__close:before {
	transform: rotate(45deg);
}
.mobail-menu__close:after {
	transform: rotate(-45deg);
}

.alert {
	color: #fff;
	display: block;
	background: #0ccb65;
	padding: 10px;
	position: fixed;
	right: 5px;
	top: 30px;
	border-radius: 10px;
}